.popper {
  background-color: white;
  width: 200px;
  padding: 15px 15px 15px 15px;
  padding-top: 0px;
  color: black;
  box-shadow: 0px 0px 25px 10px #00000078;
  z-index: 5;
  border-radius: 10px;
  animation: fadeIn 0.8s;
}

.popperButton {
  width: 100%;
  background-color: #00b3ffd8;
}

.popperButton:hover {
  width: 100%;
  border-radius: 5px;
  background-color: white;
  color: #00b3ffd8;
  box-shadow: 0px 0px 5px 3px #00000078;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
