.pageTitleContainer {
  background-color: #00b3ff;
  height: 20vh;
  width: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageTitleContainer h1 {
  margin: 0;
  color: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textBox {
  margin: 2em 5vw 0px 5vw;
  color: black;
}

.textBoxElements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.textBoxText {
  text-align: center;
  font-size: 16px;
}
