.row {
  margin-top: 1em;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.btn {
  background-color: #00b3ff;
  border-style: solid;
  border-width: 3px;
  border-color: transparent;
}

.btn:hover {
  border-style: solid;
  border-width: 3px;
  border-color: #00b3ff;
  background-color: white;
  color: #00b3ff;
}
