.row {
  margin-top: 1em;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.btn {
  background-color: #00b3ff !important;
  border-style: solid !important;
  border-width: 3px !important;
  border-color: transparent !important;
}

.btn:hover {
  border-style: solid !important;
  border-width: 3px !important;
  border-color: #00b3ff !important;
  background-color: white !important;
  color: #00b3ff !important;
}
